{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.20/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- Remix Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- DaisyUI CSS -->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link
  rel="stylesheet"
  href="https://unpkg.com/@material-tailwind/html@latest/styles/material-tailwind.css"
  />
</head>
<body class="bg-green-700">

  <!-- Header -->
  <header>
    {% include "partials/_navbar.html" %}
  </header>

  <!-- Main Content -->
  <main class="min-h-screen">
    {% block content %}{% endblock content %}
  </main>

  <!-- Footer -->
  <footer>
    {% include "partials/footer.html" %}
  </footer>

  <!-- Material Tailwind JS and Chart.js -->
  <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/script-name.js"></script>
  <script SRC='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js'></script>

</body>
</html>
